noderedcode.json
[{"id":"f8653c3b.6c553","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"ef322756.0cd048","type":"ui_form","z":"f8653c3b.6c553","name":"","label":"","group":"cb33e3d1.e8f66","order":2,"width":0,"height":0,"options":[{"label":"enter th input","value":"text","type":"text","required":true,"rows":null}],"formValue":{"text":""},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":"","x":170,"y":240,"wires":[["4b48951a.2cdebc"]]},{"id":"792ed067.1dcd18","type":"ui_text","z":"f8653c3b.6c553","group":"cb33e3d1.e8f66","order":4,"width":0,"height":0,"name":"","label":"bot","format":"{{msg.payload}}","layout":"row-spread","x":750,"y":380,"wires":[]},{"id":"de18c9f.dc0bab8","type":"ui_text","z":"f8653c3b.6c553","group":"cb33e3d1.e8f66","order":3,"width":0,"height":0,"name":"","label":"your input","format":"{{msg.payload}}","layout":"row-left","x":460,"y":380,"wires":[]},{"id":"eb39d395.7b8888","type":"watson-conversation-v1","z":"f8653c3b.6c553","name":"","workspaceid":"96a8bea2-f798-434e-978f-ef4f706bb5d7","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/1ecfa47e-e7de-497b-b6d1-5f85b0b565cc","timeout":"","optout-learning":false,"x":420,"y":140,"wires":[["17127000.bb858","64210e56.3a49e"]]},{"id":"17127000.bb858","type":"debug","z":"f8653c3b.6c553","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":650,"y":200,"wires":[]},{"id":"64210e56.3a49e","type":"function","z":"f8653c3b.6c553","name":"","func":"msg.payload = msg.payload.output.text[0];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":580,"y":320,"wires":[["792ed067.1dcd18"]]},{"id":"4b48951a.2cdebc","type":"function","z":"f8653c3b.6c553","name":"","func":"msg.payload=msg.payload.text;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":280,"wires":[["eb39d395.7b8888","de18c9f.dc0bab8"]]},{"id":"cb33e3d1.e8f66","type":"ui_group","name":"movie ticketing bot","tab":"8e597c05.bea29","order":1,"disp":true,"width":"6","collapse":false},{"id":"8e597c05.bea29","type":"ui_tab","name":"Talk to your bot","icon":"dashboard","disabled":false,"hidden":false}]